<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <!-- copy link via getbootstrap.com after copy from include bootstrap css and js -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 

   

    

</head>
<body>
 
    
  {% include 'planetapp/html/navbar.html'%}
  
  
  

  {% if messages %}

  {% for m in messages %}
  <!-- <h2 >{{m}}</h2> -->
  
  <div class="alert alert-success d-flex align-items-center" role="alert" style="width:500px;height:30px;margin-left: 450px;">
      
    <div>
      {{m}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-left: 100px;float:rite;"></button>
    </div>
    
  </div>

  {%endfor%}

  {%endif%}
      <h1 style="color:black;margin-left:600px">Login Form</h1>
      <div class= "container" style="width:600px;height:480px;margin-left:400px;color:black">
          
        
          
          <form class="well form-horizontal needs-validation" novalidate action="/login/" method="post"  id="contact_form" style="margin-top: 50px;">
            {% csrf_token %}
              <div class="form-group">
                  <label class="col-md-4 control-label">User_Id</label>  
                  <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input  name="userid" placeholder="enter your id" class="form-control" required="required" type="text" style="margin-left:6px;">
                  
              <div class="invalid-feedback">
                Please provide your  Id.
              </div>
                    </div>
                  </div>
                </div>
                 <!-- Text input-->
                 <div class="form-group">
                  <label class="col-md-4 control-label">Password</label>  
                    <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input name="userpass" placeholder="Enter your password" class="form-control" required="required"  type="password"  style="margin-left:6px;">
                  
              <div class="invalid-feedback">
                Please provide your password.
              </div>
                    </div>
                  </div>
                </div>
                <!-- Text input-->
               
                <!-- input text -->

                <!-- lllll -->
               
  
                <!-- input text -->
             
                <!-- Button -->
          <div class="form-group"style=>
              <label class="col-md-4 control-label"></label>
              <div class="col-md-4"><br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
              </div>
              <label class="col-md-4 control-label"></label>
              <div class="col-md-4"><br>
                
            </div>
            
          </form>
      
         </div>
        </div>
      
       <!-- copy link via getbootstrap.com after copy from include bootstrap css and js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
   

    <script src="{% static 'planetapp/js/validation.js'%}"></script>
    {% include 'planetapp/html/footer.html' %}
</body>
</html>