<style>
    
    .nav-link{
      color:black;
      font-size:20px;


    }
    

    a:hover{
      color:red !important
    }
    
    .dropdown-item{
      color:blue;
    }

    /* body{
          background-image:linear-gradient(to right,rgb(125, 182, 125),rgb(205, 152, 202),rgb(182, 179, 121));

        } */

</style>
<!-- <div style="width: 100%;height:20px;background-color:blue">  </div> -->
  

<nav class="navbar navbar-expand-lg bg-white p-2 text-white bg-opacity-50">
    <div class="container-fluid">
      <!-- <a class="navbar-brand">KidsPlanet</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  href="{{'/'}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/aboutus/'}}">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{'/contactus/'}}">Contact Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{'/feedback/'}}">Feedback</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{'/registration/'}}">Registration Form</a>
          </li>

         
          <li class="nav-item">
            <a class="nav-link" href="{{'/login/'}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/job_detail/'}}">Job Detail</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{'/program_detail/'}}">Program Detail</a>
          </li>
         

          <li class="nav-item">
            <a class="nav-link" href="{{'/facilities/'}}">Facilities</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#faqdiv">FAQS</a>
          </li>

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <u>Facilities</u>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><u>Action</u></a></li>
              <li><a class="dropdown-item" href="#"><u>Another action</u> </a></li>
              <li><hr class="dropdown-divider"></li> -->
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->

         
          
        </ul>
       
      </div>
    </div>
  </nav>